.navbar-vertical {

  /** DFOX ADDED THIS */
  .navbar-nav ul .nav-link.active {
    box-shadow: none;
    background-color: $gray-200 !important;

  }
}

.form-check {
  padding-left: 0;
}
.form-check .form-check-input {
  margin-left: 0;
}

.navbar-vertical .navbar-nav > .nav-item .nav-link.active .icon {
  color: white;
}

.form-check:not(.form-switch) .form-check-input {
  &[type="checkbox"] {
    &:after {
      top: 6px;
      width: 50%;
      height: 50%;
      content: url('../img/check.svg');
    }
  }
}
.breadcrumb-item span {
  letter-spacing: -0.025rem;
}

.motor-navbar-top {
  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
      flex-direction: row !important;
    }
  }

  @media (min-width: 768px) {
    .navbar-nav {
      flex-direction: row !important;
    }
  }

  @media (min-width: 576px) {
    .navbar-nav {
      flex-direction: row !important;
    }
  }

  @media (max-width: 575px) {
    .navbar-nav {
      flex-direction: row !important;
    }
  }
}
.color-box {
  input {
    height: 50px;
  }
}
